@media only screen and (max-width: 600px) {
    .login__container {
        background-color: transparent;
        border: none;
        padding: 15px;
        width: 100%;
    }
    .register__container {
        background-color: transparent;
        border: none;
        padding: 10px;
        width: 100%;
    }
    .footer {
        align-items: flex-start;
        flex-direction: column;
        padding-top: 40px;
    }
}